<div
      data-same-height-display-contents
      style="--jc:start"
      class="gMzXNJUuU5 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtqiX7CD9w"}' data-id="gtqiX7CD9w" id="gtqiX7CD9w" data-same-height-subgrid-container class="gtqiX7CD9w gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pl:32px;--mb-mobile:var(--g-s-l);--pl-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3EVSK4Mke gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:7px" class="goHai3_mpT ">
      {% unless product %}<p>{{ 'gempages.ProductTitle.product_not_found' | t }}</p>{% else %}
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goHai3_mpT"
        class="goHai3_mpT"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762303112300"
      >
      <div  >
        <h1
          data-gp-text
          class="gp-text-g-text-2 gp-text-instant"
          style="--w:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-2, text-2);--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--size:33px;--size-tablet:33px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ product.title }}
        </h1>
      </div>
    </div>
    {% endunless %}
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px" class="gslSbsuN-W ">
      
    {%- liquid
      assign current_variant = variant
      assign available = current_variant.available | default: false
      assign inventory_management = current_variant.inventory_management | default: null
      assign inventory_policy = current_variant.inventory_policy | default: 'deny'
      assign inventory_quantity = current_variant.inventory_quantity | default: 0
      assign scarcityThreshold = true
      assign check_display = true

      if inventory_management != null and available == false and inventory_quantity <= 0 and inventory_policy != 'continue'
        assign is_out_of_stock = true
        else
        assign is_out_of_stock = false
      endif

      if check_display == true
        assign should_display = true
      elsif true and inventory_quantity >= 0 and inventory_quantity < 12
        assign should_display = true
      else
        assign should_display = false
      endif

      if false and available == false
        assign should_display = false
      endif

      if true and available
        assign show_progress_bar = true
      else
        assign show_progress_bar = false
      endif
    -%}
    {% capture variant_policy_list %}
      {
        {% for variant in product.variants %}
        "{{ variant.id }}":"{{ variant.inventory_policy }}",
        "{{ variant.id }}_management":"{{ variant.inventory_management }}"{% if forloop.last == false %},{% endif %}
        {% endfor %}
      }
    {% endcapture %}
    <gp-product-stock-counter data-id="gslSbsuN-W" data-visible="{{ should_display }}" data-policy="{{ variant_policy_list | escape }}" gp-setting="{&#34;displayByDefault&#34;:true,&#34;displayProgressBar&#34;:true,&#34;scarcityThreshold&#34;:12,&#34;template&#34;:&#34;Only %number% left&#34;,&#34;outOfStockMessage&#34;:&#34;OUT OF STOCK&#34;,&#34;continueSelling&#34;:&#34;Restock soon! PREORDER NOW&#34;,&#34;unlimitedQuantityMessage&#34;:&#34;Hurry! LET BUY NOW&#34;,&#34;color&#34;:&#34;text-2&#34;,&#34;hiddenCounterWhenOutOfStock&#34;:false,&#34;oosTextColor&#34;:&#34;#DDDDDD&#34;,&#34;typoColor&#34;:&#34;text-1&#34;}" class="gp-product-stock-counter data-[visible=true]:gp-block data-[visible=false]:gp-hidden"
      >
      <div class="gp-flex" style="--jc:left">
      <style>
      [data-id="gslSbsuN-W"]  {
          .gp-sc-progress-bar{
            
  border-top-left-radius: 99999px;
  border-top-right-radius: 99999px;
  border-bottom-left-radius: 99999px;
  border-bottom-right-radius: 99999px;
          }
          .gp-sc-progress-bar:before{
            
  border-top-left-radius: 99999px;
  border-top-right-radius: 99999px;
  border-bottom-left-radius: 99999px;
  border-bottom-right-radius: 99999px;
          }
      }</style>
        <div
          class="gp-inline-block gp-flex gp-flex-col"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--c:var(--g-c-text-2, text-2)"
        >
          <div class="gp-flex gp-items-baseline gp-gap-x-1 gp-flex-row">
            
              {% if is_out_of_stock %}<div
                    data-slot-type="oos-icon" data-visible="true"
                    class="gp-stock-counter-icon data-[visible=true]:gp-block data-[visible=false]:gp-hidden [&>svg]:!gp-h-[var(--w)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--w-tablet)] mobile:[&>svg]:!gp-h-[var(--w-mobile)] gp-shrink-0 "
                    style="--c:#DDDDDD;--w:16px;--w-tablet:16px;--w-mobile:16px"
                  >
                    <svg data-name="package-regular" style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M223.68,66.15,135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,32l80.34,44-29.77,16.3-80.35-44ZM128,120,47.66,76l33.9-18.56,80.34,44ZM40,90l80,43.78v85.79L40,175.82Zm176,85.78h0l-80,43.79V133.82l32-17.51V152a8,8,0,0,0,16,0V107.55L216,90v85.77Z"></path></svg>
                  </div>
              <div
                    data-slot-type="has-stock-icon" data-visible="false"
                     data-slot-type="false"
                    class="gp-stock-counter-icon data-[visible=true]:gp-block data-[visible=false]:gp-hidden [&>svg]:!gp-h-[var(--w)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--w-tablet)] mobile:[&>svg]:!gp-h-[var(--w-mobile)] gp-shrink-0 "
                    style="--c:var(--g-c-text-2, text-2);--w:16px;--w-tablet:16px;--w-mobile:16px"
                >
                  <svg height="20px" width="20px" data-name="lightning-filled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817742720598376">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M213.85,125.46l-112,120a8,8,0,0,1-13.69-7l14.66-73.33L45.19,143.49a8,8,0,0,1-3-13l112-120a8,8,0,0,1,13.69,7L153.18,90.9l57.63,21.61a8,8,0,0,1,3,12.95Z"></path></svg>
                </div>{% else %} <div
                    data-slot-type="oos-icon" data-visible="false"
                    class="gp-stock-counter-icon data-[visible=true]:gp-block data-[visible=false]:gp-hidden [&>svg]:!gp-h-[var(--w)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--w-tablet)] mobile:[&>svg]:!gp-h-[var(--w-mobile)] gp-shrink-0 "
                    style="--c:#DDDDDD;--w:16px;--w-tablet:16px;--w-mobile:16px"
                >
                  <svg data-name="package-regular" style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M223.68,66.15,135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,32l80.34,44-29.77,16.3-80.35-44ZM128,120,47.66,76l33.9-18.56,80.34,44ZM40,90l80,43.78v85.79L40,175.82Zm176,85.78h0l-80,43.79V133.82l32-17.51V152a8,8,0,0,0,16,0V107.55L216,90v85.77Z"></path></svg>
              </div>
              <div
                    data-slot-type="has-stock-icon" data-visible="true"
                    class="gp-stock-counter-icon data-[visible=true]:gp-block data-[visible=false]:gp-hidden [&>svg]:!gp-h-[var(--w)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--w-tablet)] mobile:[&>svg]:!gp-h-[var(--w-mobile)] gp-shrink-0 "
                    style="--c:var(--g-c-text-2, text-2);--w:16px;--w-tablet:16px;--w-mobile:16px"
                >
                  <svg height="20px" width="20px" data-name="lightning-filled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817742720598376">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M213.85,125.46l-112,120a8,8,0,0,1-13.69-7l14.66-73.33L45.19,143.49a8,8,0,0,1-3-13l112-120a8,8,0,0,1,13.69,7L153.18,90.9l57.63,21.61a8,8,0,0,1,3,12.95Z"></path></svg>
                </div>{% endif %}
            
            
    <div class="gp-hidden gp-text-white gp-py-1 gp-px-2 gp-mr-1 gp-inline-block gp-my-[1px] gp-text-g-text-2 gp-bg-g-text-2" >
      <div id="template">{{ section.settings.ggslSbsuN-W_template | replace: '<$quantity$>', inventory_quantity | replace: '&lt;$quantity$&gt;', inventory_quantity }}</div>
      <div id="out-of-stock-message">{{ section.settings.ggslSbsuN-W_outOfStockMessage }}</div>
      <div id="continue-selling">{{ section.settings.ggslSbsuN-W_continueSelling }}</div>
      <div id="unlimited-quantity-message">{{ section.settings.ggslSbsuN-W_unlimitedQuantityMessage }}</div>
    </div>
            
              {% if is_out_of_stock %}<p
                data-slot-type="message"
                class="gp-g-paragraph-1 gp-stock-counter-mark"
                style="--size:22px;--size-tablet:16px;--size-mobile:14px;--c:#DDDDDD"
              >
                {% if inventory_management == null and inventory_quantity <= 0 %}
                    {{ section.settings.ggslSbsuN-W_unlimitedQuantityMessage }}
                  {% elsif available == false %}
                    {{ section.settings.ggslSbsuN-W_outOfStockMessage }}
                  {% elsif available and inventory_policy == 'continue' and inventory_quantity <= 0 %}
                    {{ section.settings.ggslSbsuN-W_continueSelling }}
                  {% else %}
                    {{ section.settings.ggslSbsuN-W_template | replace: '<$quantity$>', inventory_quantity | replace: '&lt;$quantity$&gt;', inventory_quantity }}
                  {% endif %}
              </p>{% else %}<p
                data-slot-type="message"
                class="gp-g-paragraph-1 gp-stock-counter-mark"
                style="--size:22px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1)"
              >
                {% if inventory_management == null and inventory_quantity <= 0 %}
                    {{ section.settings.ggslSbsuN-W_unlimitedQuantityMessage }}
                  {% elsif available == false %}
                    {{ section.settings.ggslSbsuN-W_outOfStockMessage }}
                  {% elsif available and inventory_policy == 'continue' and inventory_quantity <= 0 %}
                    {{ section.settings.ggslSbsuN-W_continueSelling }}
                  {% else %}
                    {{ section.settings.ggslSbsuN-W_template | replace: '<$quantity$>', inventory_quantity | replace: '&lt;$quantity$&gt;', inventory_quantity }}
                  {% endif %}
              </p>{% endif %}
              

          </div>

          <div
            data-slot-type="progress-bar" data-visible="{{ show_progress_bar }}"
            style="--h:10px;--h-tablet:10px;--h-mobile:10px;--bg:linear-gradient(90deg, #eee 50%, transparent 50%);--bgc:#121212;--bgp:20% center"
            class="gp-stock-counter-progress gp-mt-2 data-[visible=true]:gp-block data-[visible=false]:gp-hidden gp-sc-progress-bar gp-relative gp-w-full -gp-scale-100 !gp-bg-[length:200%] before:gp-absolute before:gp-left-0 before:gp-h-full before:gp-w-full before:gp-animate-shift before:gp-content-[''] before:gp-bg-stock-counter-animate before:gp-bg-[length:60px_100%] before:gp-shadow-stock-counter"
          ></div>
        </div>
        </div>
      </gp-product-stock-counter>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-stock-counter-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
      <gp-product-price
        id="shopify-text-element-gYks-KEErQ" data-id="gYks-KEErQ" data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden gYks-KEErQ"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px"
        gp-data='{"priceType":"compare","uid":"gYks-KEErQ","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-gYks-KEErQ" data-id
        
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762303112301"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-product-compare-price gp-decoration-g-text-1 gp-g-paragraph-1 gp-text-g-text-1 gp-text-instant"
          style="--w:100%;--tdc:var(--g-c-text-1, text-1);--tdt:2px;--ta:left;--c:var(--g-c-text-1, text-1);--size:28px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:line-through"
        >
          
      {% if variant.compare_at_price  %}
        {{ variant.compare_at_price | money}}
      {% else %}

      {% endif %}
    
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      <gp-product-price
        id="shopify-text-element-gmUZUR_IJh" data-id="gmUZUR_IJh"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden gmUZUR_IJh"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:21px"
        gp-data='{"priceType":"regular","uid":"gmUZUR_IJh","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-gmUZUR_IJh" data-id
        
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762303112301"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-money  gp-text-instant"
          style="--w:100%;--tdc:#242424;--tdt:1px;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:23px;--size-mobile:17px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          
     {% if variant.price %}
       {{ variant.price | money}}
     {% endif %}
   
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <div gp-el-wrapper  class="g9sBYGxtoh ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="g9sBYGxtoh"
      data-id="g9sBYGxtoh"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--mb:24px;--mb-mobile:21px;--jc:left"
      className="g9sBYGxtoh"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":16,"mobile":16,"tablet":16}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:12px;--rg-mobile:4px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g9sBYGxtoh"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#164C8C;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762303112302"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9sBYGxtoh_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g9sBYGxtoh"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#164C8C;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762303112303"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9sBYGxtoh_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g9sBYGxtoh"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#164C8C;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414807831544168"><path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762303112303"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9sBYGxtoh_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px" class="giJH-5G2Wk ">
      
    {% assign app_blocks = section.blocks | where: "type", "@app" %}
    <div
      class="gp-flex gp-w-full gp-items-center  !gp-block [&_*]:gp-max-w-none"
      style="--jc:left"
    >
      {% for block in app_blocks %}
        {% if block.type == '@app' and block.id contains 'gp_app_kaching-bundles_giJH-5G2Wk' %}
          {% render block %}
        {% endif %}
      {% endfor %}
    </div>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_vCG4Vnml"
        class="g_vCG4Vnml"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762303112311"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_vCG4Vnml_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper  class="gjhHRyOpU_ ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gjhHRyOpU_"
      data-id="gjhHRyOpU_"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--mb:8px;--jc:left"
      className="gjhHRyOpU_"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":30,"mobile":16,"tablet":16}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gjhHRyOpU_"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#164C8C;--w:100%;--h:100%;--size-desktop:30px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg data-id="519720550751273880" xmlns="http://www.w3.org/2000/svg" width="29" height="22" viewBox="0 0 29 22" fill="currentColor">
<path d="M28.1712 10.5939L25.9204 5.50146C25.8416 5.32086 25.712 5.167 25.5475 5.05853C25.383 4.95007 25.1906 4.89165 24.9935 4.89036H19.5446L19.8705 1.94693C19.8866 1.80404 19.8722 1.65938 19.8283 1.52245C19.7844 1.38553 19.712 1.25945 19.6159 1.15251C19.5207 1.047 19.4044 0.962589 19.2746 0.904704C19.1448 0.84682 19.0044 0.816742 18.8622 0.816406H4.83763C4.56751 0.816406 4.30845 0.923711 4.11745 1.11472C3.92645 1.30572 3.81914 1.56478 3.81914 1.8349C3.81914 2.10502 3.92645 2.36407 4.11745 2.55508C4.30845 2.74608 4.56751 2.85339 4.83763 2.85339H9.93008C10.2002 2.85339 10.4593 2.96069 10.6503 3.15169C10.8413 3.3427 10.9486 3.60175 10.9486 3.87188C10.9486 4.142 10.8413 4.40105 10.6503 4.59206C10.4593 4.78306 10.2002 4.89036 9.93008 4.89036H2.80065C2.53053 4.89036 2.27147 4.99767 2.08047 5.18867C1.88947 5.37968 1.78216 5.63873 1.78216 5.90885C1.78216 6.17897 1.88947 6.43803 2.08047 6.62903C2.27147 6.82004 2.53053 6.92734 2.80065 6.92734H12.9855C13.2557 6.92734 13.5147 7.03465 13.7057 7.22565C13.8967 7.41666 14.004 7.67571 14.004 7.94583C14.004 8.21595 13.8967 8.47501 13.7057 8.66601C13.5147 8.85702 13.2557 8.96432 12.9855 8.96432H5.85612C5.586 8.96432 5.32694 9.07163 5.13594 9.26263C4.94494 9.45364 4.83763 9.71269 4.83763 9.98281C4.83763 10.2529 4.94494 10.512 5.13594 10.703C5.32694 10.894 5.586 11.0013 5.85612 11.0013H9.93008C10.2002 11.0013 10.4593 11.1086 10.6503 11.2996C10.8413 11.4906 10.9486 11.7497 10.9486 12.0198C10.9486 12.2899 10.8413 12.549 10.6503 12.74C10.4593 12.931 10.2002 13.0383 9.93008 13.0383H1.78216C1.51204 13.0383 1.25298 13.1456 1.06198 13.3366C0.870977 13.5276 0.763672 13.7867 0.763672 14.0568C0.763672 14.3269 0.870977 14.5859 1.06198 14.777C1.25298 14.968 1.51204 15.0753 1.78216 15.0753H3.81914C4.08926 15.0753 4.34832 15.1826 4.53932 15.3736C4.73033 15.5646 4.83763 15.8236 4.83763 16.0938C4.83763 16.3639 4.73033 16.6229 4.53932 16.8139C4.34832 17.0049 4.08926 17.1122 3.81914 17.1122H2.80065C2.53053 17.1122 2.27147 17.2195 2.08047 17.4105C1.88947 17.6016 1.78216 17.8606 1.78216 18.1307C1.78216 18.4009 1.88947 18.6599 2.08047 18.8509C2.27147 19.0419 2.53053 19.1492 2.80065 19.1492H5.70335C5.81332 19.5788 6.02264 19.9765 6.31444 20.3103C6.56171 20.5868 6.86471 20.8077 7.20351 20.9587C7.5423 21.1097 7.90922 21.1872 8.28013 21.1862C8.90777 21.1683 9.51614 20.9654 10.0289 20.603C10.5417 20.2406 10.936 19.7349 11.1625 19.1492H18.9437C19.0537 19.5788 19.263 19.9765 19.5548 20.3103C19.8021 20.5868 20.1051 20.8077 20.4439 20.9587C20.7827 21.1097 21.1496 21.1872 21.5205 21.1862C22.1481 21.1683 22.7565 20.9654 23.2693 20.603C23.782 20.2406 24.1764 19.7349 24.4028 19.1492H26.4398C26.6916 19.1507 26.935 19.059 27.1231 18.8916C27.3112 18.7242 27.4306 18.493 27.4583 18.2428L28.2425 11.1133C28.2704 10.937 28.2456 10.7562 28.1712 10.5939ZM8.28013 19.1492C8.19567 19.1529 8.11148 19.1374 8.03387 19.1038C7.95626 19.0703 7.88724 19.0197 7.83199 18.9557C7.75204 18.8568 7.69355 18.7423 7.66023 18.6196C7.62692 18.4969 7.61951 18.3685 7.63848 18.2428C7.66449 17.9568 7.78795 17.6885 7.98819 17.4826C8.18844 17.2768 8.4533 17.1461 8.73845 17.1122C8.8229 17.1086 8.90709 17.1241 8.9847 17.1576C9.06231 17.1911 9.13133 17.2418 9.18658 17.3058C9.26653 17.4047 9.32502 17.5191 9.35834 17.6419C9.39165 17.7646 9.39906 17.8929 9.38009 18.0187C9.35408 18.3047 9.23062 18.573 9.03038 18.7788C8.83013 18.9846 8.56527 19.1154 8.28013 19.1492ZM21.5205 19.1492C21.436 19.1529 21.3518 19.1374 21.2742 19.1038C21.1966 19.0703 21.1276 19.0197 21.0724 18.9557C20.9924 18.8568 20.9339 18.7423 20.9006 18.6196C20.8673 18.4969 20.8599 18.3685 20.8788 18.2428C20.9049 17.9568 21.0283 17.6885 21.2286 17.4826C21.4288 17.2768 21.6937 17.1461 21.9788 17.1122C22.0633 17.1086 22.1475 17.1241 22.2251 17.1576C22.3027 17.1911 22.3717 17.2418 22.4269 17.3058C22.5069 17.4047 22.5654 17.5191 22.5987 17.6419C22.632 17.7646 22.6394 17.8929 22.6205 18.0187C22.5944 18.3047 22.471 18.573 22.2707 18.7788C22.0705 18.9846 21.8056 19.1154 21.5205 19.1492ZM26.1037 12.0198H21.602C21.4598 12.0195 21.3194 11.9894 21.1896 11.9315C21.0598 11.8736 20.9435 11.7892 20.8483 11.6837C20.7522 11.5767 20.6798 11.4507 20.6359 11.3137C20.592 11.1768 20.5776 11.0322 20.5937 10.8893L20.9298 7.8338C20.9598 7.58538 21.0802 7.3567 21.2681 7.1914C21.4559 7.02609 21.698 6.93572 21.9483 6.93753H24.3213L26.2259 11.1643L26.1037 12.0198Z" fill="currentColor"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762303112312"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#164C8C;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjhHRyOpU__childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px" class="gJGRZdioqq ">
      
    {%- assign total_combinations = 1 -%}
    {% for option in product.options_with_values %}{%- assign total_combinations = total_combinations | times: option.values.size -%}{% endfor %}
    
      {%- liquid
        assign inventory_quantity = variant.inventory_quantity | default: 0
        assign supported_payment_methods = shop.enabled_payment_types
      -%}
    
    <gp-product-dynamic data-id="gJGRZdioqq" data-translate-label='Buy it now'  gp-data='{"setting":{"label":"Buy it now"},"totalVariant":"{{total_combinations}}"}
    '>
    <div class="gp-block wrap__button--unbranded__gJGRZdioqq [&_.shopify-payment-button\_\_button--unbranded]:gp-min-h-fit disabled:[&_.shopify-payment-button\_\_button--unbranded]:gp-pointer-events-none [&_.shopify-payment-button\_\_button--unbranded]:!gp-g-paragraph-1 [&_.shopify-payment-button\_\_button--unbranded]:!gp-g-s-medium [&_.shopify-payment-button\_\_button--unbranded]:gp-text-g-text-3">
        {{ form | payment_button }}
    </div>
    {% style %}
      
    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button {
      display: inline-block;
      min-height: unset !important;
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button div {
      width: 100%;
      margin-top: 0px !important;
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__more-options {
      display: none;
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded {
      max-width: 100%;
      min-width: unset;
      min-height: unset !important;
      background-color: unset !important;
      position: relative;
      border: none !important;
      margin: 0;
      z-index: 0;
      border-radius: unset;
      width: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      z-index: -1;
      transition-duration: 0.2s;
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded::after {
      border-radius: 0;
      box-shadow: none;
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded::after:hover {
      border-radius: 0;
      box-shadow: none;
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button > div {
      max-width: 100%;
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button > div > div {
      max-width: 100%;
    }

    
    .wrap__button--unbranded__gJGRZdioqq {
      text-align: left !important;
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button {
      width: 100%;
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded {
      width: 100%;
      text-transform: unset;
      
      
    padding-top: 12px !important;;
    padding-bottom: 12px !important;;
    padding-left: 24px !important;;
    padding-right: 24px !important;;
  
      
    width: 100%;
    height: Auto;
  
      
      
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
      
      
  ;
  font-size: 22px !important;
  color: var(--g-c-text-3, text-3) !important;
  font-weight: bold !important;
  ;
  ;
  ;
  ;
  ;
  none;
  
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded:hover {
      
      ;
      
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      background-color: var(--g-c-brand, brand);
      undefined
      


    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded:hover::before {
      background-image : unset;
      
      
      background-color: var(--g-c-highlight, highlight);
      
      
    }
  

    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      
    .wrap__button--unbranded__gJGRZdioqq {
      
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button {
      width: 100%;
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded {
      width: 100%;
      text-transform: unset;
      
        
        font-size: 16px !important;
        
      
      
    padding-top: ;
    padding-bottom: ;
    padding-left: ;
    padding-right: ;
  
      
    width: 100%;
    height: Auto;
  
      
      
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
      
      
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded:hover {
      
      ;
      
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      background-color: var(--g-c-brand, brand);
      undefined
      


    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded:hover::before {
      background-image : unset;
      
      
      background-color: var(--g-c-highlight, highlight);
      
      
    }
  
    }

    @media only screen and (max-width: 767px) {
      
    .wrap__button--unbranded__gJGRZdioqq {
      
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button {
      width: 100%;
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded {
      width: 100%;
      text-transform: unset;
      
        
        font-size: 14px !important;
        
      
      
    padding-top: ;
    padding-bottom: ;
    padding-left: ;
    padding-right: ;
  
      
    width: 100%;
    height: Auto;
  
      
      
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
      
      
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded:hover {
      
      ;
      
    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      background-color: var(--g-c-brand, brand);
      undefined
      


    }

    .wrap__button--unbranded__gJGRZdioqq .shopify-payment-button .shopify-payment-button__button--unbranded:hover::before {
      background-image : unset;
      
      
      background-color: var(--g-c-highlight, highlight);
      
      
    }
  
    }
  
    {% endstyle %}
    </gp-product-dynamic>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-dynamic-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gfeIbQtDNk"}' data-id="gfeIbQtDNk" id="gfeIbQtDNk" data-same-height-subgrid-container class="gfeIbQtDNk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-tablet:16px;--cg:0px;--cg-tablet:0px;--cg-mobile:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_5Bh0Alq2 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-tablet:0px" class="gpXlI6a-z0 ">
      
    {%- liquid
      assign current_variant = product.selected_or_first_available_variant
      assign available = current_variant.available | default: false
    -%}
      <gp-product-quantity
        data-id="gpXlI6a-z0" data-disabled="{%- if available -%} false {%- else -%} true {%- endif -%}"
        data-price="false"
        class="quantityClass gp-relative gp-inline-flex gp-h-12 gp-w-full gp-bg-transparent gp-transition-all gp-duration-150 data-[disabled=true]:gp-opacity-60 "
        style="--h:45px;--h-mobile:42px;--jc:left"
      >
        <div class="gp-inline-flex gp-w-full gp-overflow-hidden" style="--maxw:140px;--maxw-mobile:[object Object];--b:solid;--bc:#B4B4B4;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--shadow:none">
          
              <button
              {% if available == false %} disabled {% endif %}
               title="Decrement" aria-label="decrement" type="button"
                class="gp-flex gp-aspect-square gp-h-full disabled:gp-cursor-not-allowed gp-cursor-pointer gp-items-center gp-justify-center gp-outline-none gp-minus  gp-bg-g-bg-3"
                style="--w:45px;--w-mobile:42px;--hvr-bg:#ffffff;--bg:var(--g-c-bg-3, bg-3);--c:#424242"
              >
                <span class="gp-inline-flex gp-items-center gp-justify-center [&>*]:gp-h-full [&>*]:gp-w-full" style="--w:20px;--w-tablet:20px;--w-mobile:20px"
                >
                  <svg
      xmlns="http://www.w3.org/2000/svg"
      className="gp-h-full gp-w-full"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
      </svg>
                </span>
              </button>
            
          <input
            {% if available == false %} disabled {% endif %}
            type="text" name="quantity" step="1" min="1" aria-label="quantity" inputMode="numeric" quantity="current_variant.quantity" autocomplete="off" value="1"
            class="gp-flex gp-w-full gp-shrink-[99999] gp-appearance-none gp-items-center gp-text-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none gp-transition-all gp-duration-150 hover:gp-text-black disabled:gp-cursor-not-allowed gp-bg-g-bg-3 "
            style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;--bg:var(--g-c-bg-3, bg-3);--hvr-c:#575757;--brw:1px;--blw:1px;--brc:transparent;--blc:transparent"
            inputMode="numeric"
          />

          
            <button
              {% if available == false %} disabled {% endif %}
              title="Increment" aria-label="increment" type="button"
              class="gp-flex gp-aspect-square gp-h-full disabled:gp-cursor-not-allowed gp-cursor-pointer gp-items-center gp-justify-center gp-outline-none gp-plus  gp-bg-g-bg-3"
              style="--w:45px;--w-mobile:42px;--hvr-bg:#ffffff;--bg:var(--g-c-bg-3, bg-3);--c:#424242"
            >
              <span class="gp-inline-flex gp-items-center gp-justify-center [&>*]:gp-h-full [&>*]:gp-w-full" style="--w:20px;--w-tablet:20px;--w-mobile:20px">
                <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"
      />
    </svg>
              </span>
            </button>
          
          </div>
        </gp-product-quantity>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-quantity-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g2-Ny5A3xg gp-relative gp-flex gp-flex-col"
    >
      
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign is_in_stock = variant.available
    -%}
    <gp-product-button
      
      gp-data-wrapper="true"
      gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
      class="gp-product-button"
      gp-label-out-of-stock="{{ section.settings.gg7ngn74Zvt_outOfStockLabel }}"
      gp-label-unavailable="{{ section.settings.gg7ngn74Zvt_unavailableLabel }}"
      gp-data='{"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"setting":{"errorType":"built-in","actionEffect":"open-cart-drawer","enableMessage":true,"label":"Add to cart","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","outOfStockLabel":"Out of stock","customURL":{"link":"/cart","target":"_self"}},"variantID":"{{variant.id}}","disabled":"{{variant.available}}","totalVariant":"{{total_combinations}}"}'
      data-variant-selection-required-message=""
    >
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-tablet:0px;--ta:left" class="{% unless variant.available %} !gp-hidden {% endunless %}">
        <style>[data-id="g7ngn74Zvt"].gp-button-base::before, [data-id="g7ngn74Zvt-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="g7ngn74Zvt"]:hover::before, [data-id="g7ngn74Zvt-interaction"]:hover::before {
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
  }</style>
        
        <button
          data-id="g7ngn74Zvt" dataId="g7ngn74Zvt" data-state="idle" aria-label="Add to cart"
          name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
          type="submit"
          style="--w:1200px;--w-tablet:1200px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:21px;--pb:21px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#447BBB;--bg:#164C8C;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--size:18px;--size-tablet:19px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--tt:uppercase"
          class="gp-button-atc tcustomizer-submit-button g7ngn74Zvt gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3  undefined"
        >
        
  <svg
    class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="gp-opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="gp-opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>

        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--size:18px;--size-tablet:19px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--tt:uppercase;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg7ngn74Zvt_label }}
    </span>
        </div>
        
    
    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-tablet:0px;--ta:left" class="{% if variant.available %} !gp-hidden {% endif %}">
        <style>[data-id="g7ngn74Zvt-sold-out"].gp-button-base::before, [data-id="g7ngn74Zvt-sold-out-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="g7ngn74Zvt-sold-out"]:hover::before, [data-id="g7ngn74Zvt-sold-out-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g7ngn74Zvt-sold-out" dataId="g7ngn74Zvt-sold-out" data-state="idle" aria-label="{{ section.settings.gg7ngn74Zvt_outOfStockLabel }}"
          gp-data-hidden="{% if variant.available %}true{% endif %}"
          type="button"
          style="--w:1200px;--w-tablet:1200px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:21px;--pb:21px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--bg:#164C8C;--hvr-bg:#164C8C;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--size:18px;--size-tablet:19px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--tt:uppercase"
          class="gp-cursor-default gp-opacity-30 btn-disabled gp-button-sold-out g7ngn74Zvt-sold-out gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--size:18px;--size-tablet:19px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--tt:uppercase;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg7ngn74Zvt_outOfStockLabel }}
    </span>
        </div>
        
    
    
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gyqAd2PM_s"}' data-id="gyqAd2PM_s" id="gyqAd2PM_s" data-same-height-subgrid-container class="gyqAd2PM_s gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-tablet:32px;--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvsagf7Q4W gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gJG3f0E5ba ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gJG3f0E5ba"
      data-id="gJG3f0E5ba"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--jc:left"
      className="gJG3f0E5ba"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":24,"mobile":16,"tablet":24}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gJG3f0E5ba"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#164C8C;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:16px"
                        >
                          <svg data-id="519721421505561496" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
<g clip-path="url(#clip0_501_3694)">
<path d="M12.2647 0.753142C11.9332 0.744892 11.6017 0.753142 11.2717 0.774892C9.13118 0.915142 7.11068 1.60664 5.33018 2.94614V2.24714C5.32868 1.83539 4.99493 1.50164 4.58318 1.50014C4.16918 1.49864 3.83168 1.83314 3.83018 2.24714V4.57214C3.83018 5.24039 4.63568 5.57414 5.10893 5.10389C8.57318 1.64039 14.0564 1.28114 17.9422 4.26314C21.8279 7.24514 22.8989 12.6331 20.4509 16.8751C18.0014 21.1171 12.8024 22.8796 8.27693 21.0046C3.75143 19.1296 1.32368 14.2089 2.59193 9.47789C2.69993 9.07739 2.46143 8.66564 2.06018 8.55914C1.66118 8.45039 1.24943 8.68589 1.13993 9.08489C-0.319571 14.5329 2.49068 20.2351 7.70093 22.3944C12.9112 24.5529 18.9277 22.5046 21.7477 17.6221C24.5677 12.7396 23.3317 6.50489 18.8572 3.07214C16.8997 1.56989 14.5837 0.804892 12.2647 0.753142ZM12.0074 4.32464C7.77668 4.32464 4.32743 7.76864 4.32743 11.9986C4.32743 16.2286 7.77743 19.6771 12.0074 19.6771C16.2374 19.6771 19.6799 16.2279 19.6799 11.9986C19.6799 7.76939 16.2374 4.32464 12.0074 4.32464ZM12.0074 7.28639C12.4214 7.28789 12.7559 7.62539 12.7544 8.03939V8.15489C13.5044 8.25689 14.1472 8.72189 14.4884 9.36914C14.6804 9.73589 14.5387 10.1889 14.1712 10.3816C13.8059 10.5736 13.3522 10.4326 13.1587 10.0666C13.0244 9.81089 12.7649 9.63464 12.4439 9.63464H11.7464C11.2859 9.63464 10.9379 9.98264 10.9379 10.4431C10.9379 10.9036 11.2859 11.2516 11.7464 11.2516H12.0074H12.0442H12.2669C13.5329 11.2516 14.5694 12.2949 14.5694 13.5601C14.5694 14.6589 13.7887 15.5859 12.7544 15.8131V15.9624C12.7529 16.3741 12.4192 16.7079 12.0074 16.7094C11.5927 16.7116 11.2544 16.3771 11.2529 15.9624V15.8454C10.5044 15.7419 9.86168 15.2799 9.52118 14.6341C9.32768 14.2681 9.46943 13.8129 9.83618 13.6201C10.2037 13.4266 10.6574 13.5691 10.8502 13.9366C10.9844 14.1924 11.2492 14.3671 11.5694 14.3671H12.2669C12.7282 14.3671 13.0694 14.0206 13.0694 13.5601C13.0694 13.0996 12.7282 12.7516 12.2669 12.7516H12.0074H11.7464C10.4804 12.7516 9.43793 11.7084 9.43793 10.4431C9.43793 9.34739 10.2209 8.42114 11.2529 8.19164V8.03939C11.2514 7.62239 11.5897 7.28414 12.0074 7.28639Z" fill="currentColor"/>
</g>
<defs>
<clipPath id="clip0_501_3694">
<rect width="24" height="24" fill="currentColor" transform="translate(0.00390625)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762303112340"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:12px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--c:#164C8C;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJG3f0E5ba_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gc07fvI15R gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gkBcUVmgRq ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gkBcUVmgRq"
      data-id="gkBcUVmgRq"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--jc:left"
      className="gkBcUVmgRq"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":24,"mobile":16,"tablet":24}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gkBcUVmgRq"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#164C8C;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:16px"
                        >
                          <svg data-id="519721735222723480" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
<g clip-path="url(#clip0_501_3706)">
<path d="M5.00616 8.21033L15.7311 2.47572L12.0037 0.599609L0.945312 6.16607L5.00616 8.21033Z" fill="currentColor"/>
<path d="M18.9886 4.11719L8.26367 9.85179L12.0041 11.7348L23.0625 6.16797L18.9886 4.11719Z" fill="currentColor"/>
<path d="M11.6982 12.266L7.93209 10.3704V14.5354L6.30352 12.8959H4.67494V8.73079L0.603516 6.68164V17.8146L11.6982 23.3993V12.266Z" fill="currentColor"/>
<path d="M12.3086 12.266V23.3993L23.4032 17.8146V6.68164L12.3086 12.266Z" fill="currentColor"/>
</g>
<defs>
<clipPath id="clip0_501_3706">
<rect width="24" height="24" fill="currentColor" transform="translate(0.00390625)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762303112342"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:12px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--c:#164C8C;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkBcUVmgRq_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>